<div class="grid">
    <div class="col-2">
        <img src="assets/images/logo-runt.png" alt="Logo Runt" height="20" />
    </div>
</div>
<div class="grid">
    <div class="col-6">
        <img src="assets/images/bg-1.png" alt="fondo ondas" height="600" width="100%" />
    </div>
    <div class="col-6">

        <h1 class="titulo">Te damos la bienvenida</h1>

        <hr>
        <div>            
            <h3 class="titulo"><img src="assets/images/mano.PNG"  height="20" />Notas de interés</h3>
        </div>
        <p>
            El Seguro Obligatorio de Accidentes de Tránsito, fue mediante la Ley 33 de 1986, con el fin de garantizar
            los recursos que faciliten la atención integral para las víctimas de accidentes de tránsito, de acuerdo con
            unas coberturas definidas. De este modo todos los actores viales, nacionales o extranjeros, tanto
            conductores, pasajeros o peatones se ven beneficiados con este seguro.
        </p>
        <br><br>
        <p>
            Tenga en cuenta que, una vez usted compra el SOAT, este entra en vigencia al día siguiente de su
            adquisición. Sin embargo, si lo compra con anterioridad, la vigencia comenzará a las 00:00 horas del día,
            mes y año que haya seleccionado como inicio de vigencia. No podrá utilizar su vehículo hasta que la vigencia
            del seguro se refleje en la página del RUNT
        </p>

    </div>
</div>