.btn-section {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    justify-content: end;
}

.dialog-section {
    p {
        font-size: 1.3rem;
        font-weight: bold;
        color: #23108d;
    }
}

#botonesModal {
    align-items: center;
    display: flex;
}
#botonesModal > p-button {
    margin: 10px;
}
