<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="card">
        <h5>{{title}}</h5>
        <p-divider></p-divider>
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="tiposDocumento"
                        formControlName="tipoDocumento" optionLabel="name"></p-dropdown>
                    <label for="dropdown">Tipo de documento</label>
                </span>
                <div *ngIf="myForm.get('tipoDocumento').invalid && myForm.get('tipoDocumento').touched" class="error">
                    Este campo es obligatorio.</div>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <p-inputNumber inputId="inputnumber" formControlName="numeroDocumento"></p-inputNumber>
                    <label for="inputnumber">Número de documento</label>
                </span>
                <div *ngIf="myForm.get('numeroDocumento').invalid && myForm.get('numeroDocumento').touched"
                    class="error">Este campo es obligatorio y debe ser un número positivo.</div>
            </div>
        </div>
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText formControlName="nombres" />
                    <label for="inputtext">Nombres</label>
                </span>
                <div *ngIf="myForm.get('nombres').invalid && myForm.get('nombres').touched" class="error">Este campo es
                    obligatorio.</div>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText formControlName="primerApellido" />
                    <label for="inputtext">Primer apellido</label>
                </span>
                <div *ngIf="myForm.get('primerApellido').invalid && myForm.get('primerApellido').touched" class="error">
                    Este campo es obligatorio.</div>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText formControlName="segundoApellido" />
                    <label for="inputtext">Segundo apellido</label>
                </span>
                <div *ngIf="myForm.get('segundoApellido').invalid && myForm.get('segundoApellido').touched"
                    class="error">Este campo es obligatorio.</div>
            </div>
        </div>
        <div class="grid p-fluid mt-3">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <p-inputNumber inputId="inputnumber" formControlName="numeroTarjeta"></p-inputNumber>
                    <label for="inputnumber">Número de tarjeta de propiedad</label>
                </span>
                <div *ngIf="myForm.get('numeroTarjeta').invalid && myForm.get('numeroTarjeta').touched" class="error">
                    Este campo es obligatorio y debe ser un número positivo.</div>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText formControlName="correo" />
                    <label for="inputtext">Correo electrónico</label>
                </span>
                <div *ngIf="myForm.get('correo').invalid && myForm.get('correo').touched" class="error">Este campo es
                    obligatorio y debe ser un correo válido.</div>
            </div>
        </div>
        <section class="btn-section">
            <button pButton pRipple type="button" label="Anterior" class="p-button-outlined"></button>
            <button pButton pRipple type="submit" [label]="btn_title" class="p-button-info"></button>
        </section>
    </div>
</form>

<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '60rem' }" class="dialog-section">
    <p>
        Se modifico la información del propietario exitosamente para la placa asociada.
    </p>
    <p>
        Se realizó el envió de correo electrónico al propietario del vehículo con la modificación.
    </p>
</p-dialog>