@if(id){

} @else{
<div class="card">
    <h5>Inscripción de registro de los datos del vehículo</h5>
    <p-divider />
    <div class="grid p-fluid mt-3">

        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText [(ngModel)]="value1" />
                <label for="inputtext">Número de placa</label>
            </span>
        </div>

        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-autoComplete inputId="autocomplete" [(ngModel)]="value2" [suggestions]="filteredCountries"
                    (completeMethod)="searchCountry($event)" field="name"></p-autoComplete>
                <label for="autocomplete">País de Origen</label>
            </span>
        </div>


        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-autoComplete inputId="autocomplete" [(ngModel)]="value2" [suggestions]="filteredCountries"
                    (completeMethod)="searchCountry($event)" field="name"></p-autoComplete>
                <label for="autocomplete">Marca</label>
            </span>
        </div>


        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-inputNumber inputId="inputnumber" [(ngModel)]="value8"></p-inputNumber>
                <label for="inputnumber">Modelo (año)</label>
            </span>
        </div>
        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText [(ngModel)]="value1" />
                <label for="inputtext">Número de VIN</label>
            </span>
        </div>


        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText [(ngModel)]="value1" />
                <label for="inputtext">Número de motor</label>
            </span>
        </div>

        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText [(ngModel)]="value1" />
                <label for="inputtext">Número de chasis</label>
            </span>
        </div>


        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText [(ngModel)]="value1" />
                <label for="inputtext">Número de serie</label>
            </span>
        </div>


        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-inputNumber inputId="inputnumber" [(ngModel)]="value8"></p-inputNumber>
                <label for="inputnumber">Cilindraje</label>
            </span>
        </div>


        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="value10"
                    optionLabel="name"></p-dropdown>
                <label for="dropdown">Clase de vehículo</label>
            </span>
        </div>

        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText [(ngModel)]="value1" />
                <label for="inputtext">Capacidad total de pasajeros</label>
            </span>
        </div>

        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText [(ngModel)]="value1" />
                <label for="inputtext">Capacidad total de pasajeros sentados</label>
            </span>
        </div>

        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText [(ngModel)]="value1" />
                <label for="inputtext">Capacidad de carga Kg</label>
            </span>
        </div>

        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="value10"
                    optionLabel="name"></p-dropdown>
                <label for="dropdown">Tipo de servicio</label>
            </span>
        </div>

        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="value10"
                    optionLabel="name"></p-dropdown>
                <label for="dropdown">Tipo de carrocería</label>
            </span>
        </div>

        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="value10"
                    optionLabel="name"></p-dropdown>
                <label for="dropdown">Tipo de combustible</label>
            </span>
        </div>

        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="value10"
                    optionLabel="name"></p-dropdown>
                <label for="dropdown">Radio de operación</label>
            </span>
        </div>
    </div>

    <div class="flex justify-content-end flex-wrap">
        <button pButton pRipple type="button" label="Siguiente" class="p-button-info"></button>
    </div>
</div>

}



<p-dialog header="Modificar Información" [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }">
    <div class="grid p-fluid mt-3">

        <div class="field col-12 md:col-6">
            <span class="p-float-label">
                <p-autoComplete inputId="autocomplete" [(ngModel)]="value2" [suggestions]="filteredCountries"
                    (completeMethod)="searchCountry($event)" field="name"></p-autoComplete>
                <label for="autocomplete">País de Origen</label>
            </span>
        </div>

        <div class="field col-12 md:col-6">
            <span class="p-float-label">
                <input type="text" id="inputtext" pInputText [(ngModel)]="value1" />
                <label for="inputtext">Número de placa</label>
            </span>
        </div>


        <div class="field col-12 md:col-6">
            <span class="p-float-label">
                <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="cities" [(ngModel)]="value10"
                    optionLabel="name"></p-dropdown>
                <label for="dropdown">Clase de vehículo</label>
            </span>
        </div>


        <div class="field col-12 md:col-6">
            <span class="p-float-label">
                <p-inputNumber inputId="inputnumber" [(ngModel)]="value8"></p-inputNumber>
                <label for="inputnumber">Cilindraje</label>
            </span>
        </div>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancelar" severity="secondary" (onClick)="visible = false" />
        <p-button label="Consultar" (onClick)="visible = false" />
    </div>
</p-dialog>